

// Colors
$color-primary: #171717;
$color-secondary: #ededed;
$color-background: #ffffff;
$color-gray-light: #f3f4f6;
$color-gray-dark: #4b5563;
$color-success: #10b981;
$color-error: #ef4444;
$color-blue-light: #5CDBFF;
$color-blue-dark: #2B5BF5;
$color-blue-gradient: linear-gradient(90deg, $color-blue-light 3%, $color-blue-dark 100%);



// Typography
$font-family-base: var(--font-inter);
$font-size-base: 16px;
$line-height-base: 1.5;

// Spacing
$spacing-unit: 8px;

// Border
$border-radius: 10px;
$border-color: $color-secondary;
$border-width: 2px;

// Transitions
$transition-base: 0.3s ease-in-out;

// Header
$header-height: 100px;

// 

:root {
  --background: #{$color-background};
  --foreground: #{$color-primary};
}
